server:
  port: 8081
  servlet:
    context-path: /api/v1

spring:
  application:
    name: fraud

  datasource:
    url: jdbc:postgresql://localhost:5432/fraud_detection
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true